:root{
  --highlight-color: #222222;
  --accent-color: rgb(255, 68, 68);
  --accent-color2: rgb(241, 78, 57);
  --dark-color: #0c0c0c;
}

Body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  background-color: var(--dark-color);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
  height: 100vh;
  width:100%;
}

h3 {
  padding-top: 2em;
}

button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  padding:.5em 1em;
  color:white;
  font-weight: bolder;
}


