.ImagePreview {
    /* width:100%; */
    /* max-width: 40%; */
    width: fit-content;
    background-color: var(--highlight-color);

    border-radius: 5px;
    padding: 1em;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;

    margin-top: 1em
}


.ImagePreview img {
    height: 80vh;
    width: 80vw;
    object-fit:cover;
    margin-top:.5em;
}

.ImagePreview-header {
    background-color: var(--highlight-color);
    display: flex;
    justify-content: space-between;
}

.ImagePreview button {
    margin: 1em;
}

.ImagePreview-titleBorder {
    background-image: linear-gradient(var(--accent-color), var(--accent-color2));
    border-radius: 10px;
    display: inline-block;
    padding: 1px;
    /* opacity: 50%; */
}

.ImagePreview-title {
    background-color: var(--highlight-color);
    /* background-image: linear-gradient(var(--accent-color), var(--accent-color2)); */
    border-radius: 10px;
    display: inline-block;

    border-width:10px;
    padding: 6px 10px;
}